<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
   
  
  
 
</p>

<p>
  <strong>Product:</strong>
   
  
  
 
</p>

<p>
  <strong>Component:</strong>
   
  
  
 
</p>

<p>
  <strong>Version:</strong>
   
  
  
 
</p>

<p>
  <strong>Summary:</strong>
   
  
  
 
</p>

<p>
  <strong>Description:</strong>
   
  
  
 
</p>

<p>
  <strong>Hardware:</strong>
   
  
  
 
</p>

<p>
  <strong>Importance:</strong>
   
  
  
 
</p>

<p>
  <strong>Targetmilestone:</strong>
   
  
  
 
</p>

<p>
  <strong>Assignedto:</strong>
   
  
  
 
</p>

<p>
  <strong>Qacontact:</strong>
   
  
  
 
</p>

<p>
  <strong>Url:</strong>
   
  
  
 
</p>

<p>
  <strong>Whiteboard:</strong>
   
  
  
 
</p>

<p>
  <strong>Keywords:</strong>
   
  
   
   <span class ="w3-tag w3-blue" > <%= @bug.keywords %> </span>
  
 
</p>

<p>
  <strong>Tags:</strong>
    
   <span class ="w3-tag w3-green" > <%= @bug.tags %> </span>
  
  
  
 
</p>

<p>
  <strong>Dependson:</strong>
   
  
  
 
</p>

<p>
  <strong>Blocks:</strong>
   
  
  
 
</p>

<p>
  <strong>Origestimated:</strong>
   
  
  
 
</p>

<p>
  <strong>Hoursworked:</strong>
   
  
  
 
</p>

<p>
  <strong>Hoursleft:</strong>
   
  
  
 
</p>

<p>
  <strong>Deadline:</strong>
   
  
  
 
</p>

<p>
  <strong>Additionalcomments:</strong>
   
  
  
 
</p>

<p>
  <strong>Status:</strong>
   
  
  
 
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
